@font-face {
    font-family: curvy-font;
    src: url('/src/assets/curvy_font.ttf');
}

.font{
    margin-top: 1rem;

    letter-spacing: 8px;
    font-size: 8rem;
    font-weight: bold;
    color: white;
    font-family: curvy-font;
}

.headline{
    color: white;

    text-transform: uppercase;
    font-weight: bold;
    font-size: larger;

}