@import './Colors.scss';

@keyframes open {
    0%{
        transform: translateX(-50%);
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

@keyframes close {
    0%{
        opacity: 1;
    }

    100%{
        transform: translateX(-50%);
        opacity: 0;
    }
}

.mobile_nav{
    z-index: 100;
    box-shadow: 10px 0 10px -5px rgba($color: black, $alpha: 0.2);

    display: flex;
    flex-direction: column;
    padding: 2rem;
    padding-right: 5rem;
    gap: 2rem;

    font-size: x-large;

    position: absolute;
    height: 100vh;
    
    top: 0;
    left: 0;

    color: $primary-text;
    background-color: $primary-dark;
    animation: forwards open 250ms;

    div{
        cursor: pointer ;
    }
}

.close{
    animation: 250ms forwards close;
}

.btn{
    color: $primary-text;
    font-weight: bold;
    width: min-content;
    font-size: xx-large;

    button{
        transition: 150ms;

        letter-spacing: 1px;
        border-radius: 4px;
    }

    & button:hover{
        scale: 1.1;
    }

    &_selected{
        @extend .btn;
        div{
            transition: 150ms;

            border: 2px solid $primary-light;
            border-radius: 2rem;
            width: calc(100% - 12px);
            margin: 0 auto;
        }
    }
}