@import './Colors.scss';

.container{
    position: relative;
    z-index: 50;
    background-color: $primary-light;
    //padding-bottom: 0;
}

.font{
    margin-top: 1rem;
    max-width: 400px;
    letter-spacing: 8px;
    font-size: 8rem;
    font-weight: bold;
    color: $primary-text;
    font-family: curvy-font;
}


.paragraph{
    max-width: 800px;
    
    margin-left: auto;
    text-align: right;
    
    color: rgba($color: $primary-text, $alpha: 1);
    font-size: x-large;
}

.btn{

    padding: 0.5rem 3rem;
    border-radius: 1rem;
    
    background-color: $primary-dark;
    color: $primary-text;
    font-size: 2.5rem;
    font-weight: bold;
}

@media (max-width: 1024px) { 
    .font{
        letter-spacing: normal;
        max-width: none;
        text-align: center;
        font-size: 3rem;
    }
   

    .paragraph{
        font-size: 1rem;
        text-align: center;
    }

    .btn{
        

        padding: 0.5rem 1.5rem;
        border-radius: 1rem;
        
        font-size: 1.5rem;
        font-weight: bold;
    }
}